/* HomePage.css */

.parallax-container {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative; /* Ensure it's positioned relative for absolute positioning within */
}

.parallax {
  /* Adjust the height as needed */
  width: auto;
  background-attachment: fixed;
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat;
  background-size: 100% auto; /* Ensure entire width of image is displayed */
}

#top-parallax-image {
  background-image: url('../../../assets/bar.webp');
  height: 80vh;
  position: relative;
  background-size: cover;
}

#bottom-parallax-image {
  background-image: url('../../../assets/flower.webp');
  height: 50vh;
}

.store-hours {
  text-align: center;
  padding: 50px 20px;
  background: #fff;
  /* Light background for contrast */
}

.store-hours h2 {
  margin-bottom: 20px;
}
.menu-section hr {
  border: none;
  height: 3px;
  background-color: black;
  margin: 20px 0;
}
.transparent-logo {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); /* Adjust for the logo's dimensions to truly center it */
  max-width: 40vw; /* Adjust based on desired size */
  height: auto;
}
@media (max-width: 768px) {
  .transparent-logo {
    max-width: 80vw; /* Adjust based on desired size */
  }
}
