/* HomePage.css */

.parallax-container {
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax {
  /* Adjust the height as needed */
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto; /* Ensure entire width of image is displayed */
}

#top-parallax-image {
  background-image: url('../../../assets/bar.webp');
  height: 80vh;
}

#bottom-parallax-image {
  background-image: url('../../../assets/flower.webp');
  height: 50vh;
}

.store-hours {
  text-align: center;
  padding: 50px 20px;
  background: #fff;
  /* Light background for contrast */
}

.store-hours h2 {
  margin-bottom: 20px;
}
.menu-section hr {
  border: none;
  height: 3px;
  background-color: black;
  margin: 20px 0;
}
