
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004D40;
    color: #FFFFFF;
    padding: 10px 20px;
}


body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #004D40;
    color: white;
}

.elevate-button {
    background-color: #004D40;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

input[type="text"], select {
    width: 100%; /* Make element fill the cell */
    padding: 4px;
    margin: 0; /* Remove margin to ensure full width usage */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}


form#createDishForm td {
    padding: 4px;
}

button[type="submit"] {
    cursor: pointer;
}
.priceHeader {
    width: 4rem;
}
table input.price {
    width: 4rem;
}
input[type="checkbox"] {
    transform: scale(2.5); /* Adjust the scale factor as needed */
    margin: 3px; /* Optional: add some margin for better spacing */
}
.center-content {
    text-align: center;
    vertical-align: middle;
}
