<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

<header class="header">
    <h1>Admin Dashboard</h1>
    <form action="/logout" method="post" class="logout-form">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <button type="submit" class="elevate-button">Logout</button>
    </form>
</header>

<h2>Add New Dish</h2>
<form id="createDishForm" action="/admin/createDish" method="post" th:action="@{/admin/createDish}">
    <table>
        <thead>
        <tr>
            <th>Dish Name</th>
            <th class="priceHeader">Price</th>
            <th>Description</th>
            <th>Category</th>
            <th>On Menu</th>
            <th>Spicy</th>
            <th>Vegetarian</th>
            <th>Add Dish</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="text" id="newDishName" name="name" placeholder="Name" required></td>
            <td><input type="text" id="newDishPrice" name="price" placeholder="Price" required></td>
            <td><input type="text" id="newDishDescription" name="description" placeholder="Description"></td>
            <td>
                <select id="newDishCategory" name="category" required>
                    <option value=""></option>
                    <option value="LUNCH_SPECIAL">Lunch Special</option>
                    <option value="APPETIZER">Appetizer</option>
                    <option value="SOUP">Soup</option>
                    <option value="CHEF_SUGGESTION">Chef's Suggestion</option>
                    <option value="NOODLES_AND_RICE">Noodles and Rice</option>
                    <option value="CHICKEN">Chicken</option>
                    <option value="PORK">Pork</option>
                    <option value="BEEF">Beef</option>
                    <option value="SEAFOOD">Seafood</option>
                    <option value="VEGETABLE">Vegetable</option>
                    <option value="DESSERT">Dessert</option>
                </select>

            </td>
            <!-- For boolean values, ensure a hidden input for false value -->
            <td class="center-content">
                <input type="checkbox" name="currentlyOnMenu" value="true">
                <input type="hidden" name="currentlyOnMenu" value="false">
            </td>
            <td class="center-content">
                <input type="checkbox" name="spicy" value="true">
                <input type="hidden" name="spicy" value="false">
            </td>
            <td class="center-content">
                <input type="checkbox" name="vegetarian" value="true">
                <input type="hidden" name="vegetarian" value="false">
            </td>
            <td class="center-content">
                <button type="submit" class="elevate-button">Add Dish</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>

<h2>Dishes</h2>
<table id="dishesTable">
    <thead>
    <tr>
        <th onclick="sortTable(0)">Dish Name</th>
        <th onclick="sortTable(1)" class="priceHeader">Price</th>
        <th onclick="sortTable(2)">Description</th>
        <th onclick="sortTable(3)">Category</th>
        <th onclick="sortTable(4)">On Menu</th>
        <th onclick="sortTable(5)">Spicy</th>
        <th onclick="sortTable(6)">Vegetarian</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <!-- Rows will be filled with JavaScript -->
    </tbody>
</table>
<script th:inline="javascript">
    /*<![CDATA[*/
    const csrfToken = /*[[${_csrf.token}]]*/ 'CSRF_TOKEN_PLACEHOLDER';

    document.addEventListener('DOMContentLoaded', function () {
        const dishes = /*[[${allDishes}]]*/[];
        const categories = [
            'LUNCH_SPECIAL',
            'APPETIZER',
            'SOUP',
            'CHEF_SUGGESTION',
            'NOODLES_AND_RICE',
            'CHICKEN',
            'PORK',
            'BEEF',
            'SEAFOOD',
            'VEGETABLE',
            'DESSERT'
        ];
        const tbody = document.querySelector('#dishesTable tbody');
        dishes.forEach(dish => {
            const tr = document.createElement('tr');
            tr.innerHTML = `
                <td><input type="text" value="${dish.name}" class="name" /></td>
                <td><input type="text" value="${dish.price}" class="price" /></td>
                <td><input type="text" value="${dish.description}" class="description" /></td>
                <td>
                    <select class="category">
                        <option value="" ${!dish.category ? 'selected' : ''}>Select a category</option>
                        ${categories.map(category => `<option value="${category}" ${dish.category === category ? 'selected' : ''}>${category}</option>`).join('')}
                    </select>
                </td>
                <td class="center-content"><input type="checkbox" class="currentlyOnMenu" ${dish.currentlyOnMenu ? 'checked' : ''}></td>
                <td class="center-content"><input type="checkbox" class="isSpicy" ${dish.isSpicy ? 'checked' : ''}></td>
                <td class="center-content"><input type="checkbox" class="isVegetarian" ${dish.isVegetarian ? 'checked' : ''}></td>
                <td class="center-content"><button class="updateBtn elevate-button" data-id="${dish.id}">Update</button></td>
                <td class="center-content"><button class="deleteBtn elevate-button" data-id="${dish.id}">Delete</button></td>`;
            tbody.appendChild(tr);
        });


        document.querySelectorAll('.updateBtn').forEach(button => {
            button.addEventListener('click', function () {
                const id = this.getAttribute('data-id');
                const tr = this.closest('tr');
                const name = tr.querySelector('.name').value;
                const price = tr.querySelector('.price').value;
                const description = tr.querySelector('.description').value;
                const category = tr.querySelector('.category').value;
                const currentlyOnMenu = tr.querySelector('.currentlyOnMenu').checked;
                const isSpicy = tr.querySelector('.isSpicy').checked;
                const isVegetarian = tr.querySelector('.isVegetarian').checked;

                fetch('/admin/updateDish', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRF-TOKEN': csrfToken // Include CSRF token in request headers
                    },
                    body: JSON.stringify({
                        id,
                        name,
                        price,
                        description,
                        category,
                        currentlyOnMenu,
                        isSpicy,
                        isVegetarian
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success:', data);
                        // Consider adding UI feedback here, such as a success message or updating the table to reflect changes.
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                        // Consider adding UI feedback here, such as displaying the error message.
                    });
            });
        });
        document.querySelectorAll('.deleteBtn').forEach(button => {
            button.addEventListener('click', function () {
                const id = this.getAttribute('data-id');
                console.log('Sending delete request for dish ID:', id); // Console log the dish ID
                // Confirm before deleting
                if (confirm('Are you sure you want to delete this dish?')) {
                    fetch(`/admin/deleteDish/${id}`, { // Updated URL to include the dish ID as a path variable
                        method: 'POST', // Assuming POST is the correct method; adjust if your backend expects DELETE or another method
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRF-TOKEN': csrfToken // Include CSRF token in request headers
                        },
                    })
                        .then(response => {
                            if (response.ok) {
                                return response.json();
                            }
                            throw new Error('Network response was not ok.');
                        })
                        .then(data => {
                            console.log('Success:', data);
                            // Remove the row from the table if deletion is successful
                            this.closest('tr').remove();
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                }
            });
        });
    });
    /*]]>*/
</script>

<script>
    // Object to keep track of the sort orders for each column, initializing as ascending
    var sortOrders = {};

    function sortTable(columnIndex) {
        var table = document.getElementById("dishesTable");
        var rows, switching, i, x, y, shouldSwitch, switchcount = 0;
        switching = true;
        // Toggle the direction of sorting
        var dir = sortOrders[columnIndex] || "asc"; // Default to ascending

        while (switching) {
            switching = false;
            rows = table.getElementsByTagName("TR");
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[columnIndex];
                y = rows[i + 1].getElementsByTagName("TD")[columnIndex];
                if (dir === "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir === "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount === 0 && dir === "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
        // Toggle the direction for the next click
        sortOrders[columnIndex] = dir === "asc" ? "desc" : "asc";
    }
</script>

</body>
</html>